sample_api_rest_domain/target
sample_api_rest_dao/target
sample_api_rest_services/target
sample_api_rest_ws/target

sample_api_rest_domain/.settings/
sample_api_rest_domain/.classpath

sample_api_rest_dao/.settings/
sample_api_rest_dao/.classpath

sample_api_rest_services/.settings/
sample_api_rest_services/.classpath

sample_api_rest_ws/.settings/
sample_api_rest_ws/.classpath

.project
.settings/
